.order {
    background-image: url('../../images/background.jpg');
    background-size: 600px;
    background-repeat: repeat;
    align-self: center;
}

.order-button {
    height: 200px;
}

.order-button-pickup {
    height: 170px;
    margin: 1rem;
    border-radius: 2rem;
}

.pickup-order {
    height: 700px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .order-button {
        height: 150px;
    }
}