.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: black;
}

.contact-info {
    font-size: 2rem;
    padding: 2rem;
    margin: 1rem;
}

.google-maps {
    border-radius: 3rem;
}