.contact {
    background-image: url('../images/background.jpg');
    background-size: 600px;
    background-repeat: repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: black;
}

.contact-title {
    font-size: 3rem;
    font-weight: bolder;
    padding: 1rem;
    margin: 1rem;
}

.contact-info-element {
    padding: 0.5rem;
}

.contact-info {
    background-color: antiquewhite;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
    padding: 2rem;
    margin: 1rem;
}

.google-maps {
    padding: 2rem;
    border-radius: 3rem;
}