.sidebar {
    background: linear-gradient(90deg,  #c3b59b 30%,  #6c6456);
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: white;
}

.sidebar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
    height: 6rem;
}

.sidebar-button {
    border: none;
    background: none;
    justify-self: end;
    padding: 1.8rem;
    margin-left: 2rem;
    font-size: 2rem;
    height: 6rem;
    width: 6rem;
    object-fit: cover;
}

.sidebar-button:hover {
    cursor: pointer;
}

.sidebar-items {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
    list-style: none;
    font-size: 1.5rem;
    justify-content: end;
}

.sidebar-item {
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.sidebar-icon-settings {
    margin-right: 1rem;
}

.sidebar-item:hover {
    background-color: #38342c;
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
}

.fa-bars {
    color: #fff;
}

.fa-times {
    color: #fff;
}

.sidebar-button-mobile {
    visibility: hidden;
}

@media screen and (max-width: 1300px) {
    .sidebar {
        position: relative;
        z-index: 1;
    }

    .sidebar-button-mobile {
        visibility: visible;
        position: relative;
    }

    .sidebar-items {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 25.5rem;
        top: 6rem;
        left: -100%;
        opacity: 1;
        transition: all 0.2s ease;
        z-index: 1;
    }

    .sidebar-items.active {
        background: #6c6456;
        left: 0;
        opacity: 1;
        transition: all 0.2s ease;
        z-index: 1;
    }
    .sidebar-item {
        text-align: center;
        padding: 1.9rem;
        width: 100%;
        display: table;
    }
    .sidebar-item:hover {
        background-color: #c3b59b;
        border-radius: 0;
    }

    .sidebar-button {
        border: none;
        background: none;
        justify-self: end;
        margin-left: 2rem;
        background-size: 1.8rem;
        font-size: 2rem;
        size: 1.5rem;
    }

    .sidebar-logo {
        color: #fff;
        justify-self: start;
        margin-left: 1rem;
        cursor: pointer;
    }

}