.menu {
    background-image: url('../../images/background.jpg');
    background-size: 600px;
    background-repeat: repeat;
    align-self: center;
}

.submenu-title {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 1000;
}

.submenu-content {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    background-color: #c3b59b;
    margin: 1rem;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    width: 20rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item-name {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-item-desc {
    margin-left: 0.5rem;
}

.menu-item-price {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.item-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 2rem;
    justify-self: start;
}

@media screen and (max-width: 800px) {

    .menu-item {
        background-color: #c3b59b;
        width: 100%;
        margin: 1rem;
        border-radius: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .item-image {
        height: 100px;
        width: 150px;
        object-fit: cover;
        border-radius: 2rem;
        justify-self: start;
    }

    .menu-item-name {
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bolder;
    }

    .menu-item-desc {
        padding-left: 0.2rem;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .menu-item-price {
        padding: 1rem;
        font-size: 1.2rem;
        font-weight: 800;
    }
}
